:root{
    --background-color: rgb(211, 221, 248);
    --bold-info-charcolor: rgb(255, 0, 140);
    --footer-color: rgb(194, 207, 245);
    --regwindow-back-color: white;
    --small-span-color: rgb(87, 87, 87);
    --buttons-theme: rgb(93, 93, 224);
    --buttons-theme-hover: rgb(111, 111, 238);
    --links-hover-theme: rgb(101, 101, 231);
    --buttons-theme-border: rgb(72, 72, 211);
    --colorized-cell: rgb(208, 221, 253);
    --colorized-cell-weak: rgb(211, 222, 252);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: bauhaus_normal;
    src: url(BauhausRegular.ttf);
}
@font-face {
    font-family: bauhaus_bold;
    src: url(BauhausBold.ttf);
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--background-color);
}

header nav{
    background: rgb(45,114,253);
    background: linear-gradient(0deg, rgba(45,114,253,1) 0%, rgba(39,146,222,1) 34%, rgba(39,146,222,1) 78%, rgba(45,114,253,1) 100%);
    height: 40px;
    padding: 0px 4%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header nav > .left {
    display: flex;
    align-items: center;
}

header nav > .left > a > img{
    width: 117px;
    height: auto;
    padding: 7px 13px 7px 10px;
    background: rgb(217,217,217);
background: linear-gradient(0deg, rgba(217,217,217,1) 5%, rgba(222,222,222,1) 25%, rgba(232,232,232,1) 69%, rgba(255,255,255,1) 83%, rgba(255,255,255,1) 100%);
}

header nav > .left >  ul{
    display: flex;
    flex-direction: row;
}

header nav > .left > ul > li{
    list-style-type: none;
    margin-left: 18px;
}

header nav > .left >  ul > li > a,
header nav > .right > a{
    color: white;
    font-weight: 500;
    text-decoration: none;
}

header nav > .left >  ul > li > a:hover,
header nav > .right > a:hover{
    text-decoration: underline;
}

header nav > .right{
    color: rgb(30, 31, 139);
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: auto;
    font-size: 16px;
    font-weight: 600;
}

header nav > .right > .search-user{
    display: flex;
    margin-left: 10px;
    border: 1px solid rgba(0, 0, 0, 0);
    padding: 3px 5px;
    background-color: rgb(104, 106, 207);
    border-radius: 50px;
    width: 240px;
    justify-content: center;
}

header nav > .right > .search-user form > input{
    height: 25px;
    padding-left: 8px;
    width: 180px;
    border-radius: 5px;
    border: 1px solid black;
}

header nav > .right > .search-user > a{
    border: 1px solid black;
    background-color: var(--regwindow-back-color);
    padding: 2px;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
    border-radius: 10px;
    z-index: 1;
    cursor: pointer;
    transition: 0.1s ease-in;
}
header nav > .right > .search-user > a:hover{
    background-color: rgb(218, 218, 218);
    transition: 0.1s ease-out;
}

header nav > .right > span{
    margin-right: 10px;
}
/* -------------------------------------------------------- */
main{
    padding: 15px;
    display: grid;
    grid-template-columns: 190px 745px 290px;
    justify-content: center;
}

main section.left-side{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--regwindow-back-color);
    width: 190px;
    height: 560px;
    padding: 28px 17px;
    border-radius: 3px;
    box-shadow: rgba(17, 17, 17, 0.3) 0px 3px 6px 0px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}

main section.left-side > .photo{
    display: flex;
    align-items: center;
    width: 100%;
    height: 180px;  
    position: relative; 
}

main section.left-side > .photo > img{
    width: 100%;
    height: 100%;
    border-radius: 3px;
}

main section.left-side > hr{
    margin-top: 18px;   
    border-top: 1px solid var(--colorized-cell-weak);
}

main section.left-side > .info-area{
    height: 50px;
    margin-top: 10px;
    height: auto;
    position: relative;
}

main section.left-side > .info-area > span{
    font-size: 18px;
    font-weight: 600;
}

main section.left-side > .info-area > a:hover,
main section.left-side > .info-area > .edit-profile > .grid-content > a:hover{
    color: var(--links-hover-theme);
}

main section.left-side > .info-area > .quick{
    margin: 5px 0px 15px 0px;
    color: rgb(94, 94, 94);
    font-size: 14px;
}

main section.left-side > .info-area > .edit-profile{
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

main section.left-side > .info-area > .edit-profile > .grid-content,
main section.left-side > .links > .grid > .grid-content{
    border: 1px solid var(--colorized-cell-weak);
    padding: 3px 0px;
    display: flex;
    align-items: center;
}
main section.left-side > .info-area > .edit-profile > .grid-content > img,
main section.left-side > .links > .grid > .grid-content > img{
    margin: 0px 7px 0px 0px;
}

main section.left-side > .info-area > .edit-profile > .grid-content > a,
main section.left-side > .links > .grid > .grid-content > a{
    text-decoration: none;
    color: rgb(39, 39, 255);
}

main section.left-side > .links{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

main section.left-side > .links > .grid{
    margin-top: 10px;
    display: grid;
    grid-template-columns: auto;
    align-items: center;
}
/* --------------------------------------------------------------------------------------------- */

main section.feed{
    display: flex;
    flex-direction: column;
    padding: 0px 15px;
}

main section.feed > .warning{
    display: flex;
    height: 35px;
    width: 100%;
    margin-bottom: 13px;
    padding-left: 10px;
    background-color: rgb(255, 243, 176);
    box-shadow: rgba(17, 17, 17, 0.3) 0px 2px 4px 0px;
    align-items: center;
    font-size: 15px;
    font-weight: 500;
}
main section.feed > .warning > #warnings{
    margin-left: 5px;
    color: rgb(0, 0, 0);
}

main section.feed > .text-area{
    width: 100%;
    height: auto;
    padding: 15px;
    border-top-left-radius: 3px;
    border-top-right-radius: 50px;
    box-shadow: rgba(17, 17, 17, 0.3) 0px 2px 4px 0px;
    background-color: var(--regwindow-back-color);
}

main section.feed > .text-area > h1{
    margin-bottom: 10px;
}
main section.feed > .text-area form> .buttons{
    margin-top: 10px;
}
main section.feed > .text-area form> .buttons > button,
main section.feed > .social-feed > .scroll-feed > .post > .post_info > .responses > .comment-area form> .buttons > button{
    width: 85px;
    padding: 4px;
    font-size: 17px;
    font-weight: bold;
    border: 1px solid var(--buttons-theme-border);
    background: var(--buttons-theme);
    border-radius: 3px;
    color: white;
    font-family: bauhaus_normal;
    cursor: pointer;
    transition: 0.1s ease-in;
}


main section.feed > .text-area > .buttons > button:hover,
main section.feed > .social-feed > .scroll-feed > .post > .post_info > .responses > .comment-area form > .buttons > button:hover{
    border: 1px solid var(--buttons-theme-border);
    background: var(--buttons-theme-hover);
    color: white;
    transition: 0.1s ease-out;
}

main section.feed > .text-area form > #fileInput,
main section.feed > .social-feed > .scroll-feed > .post > .post_info > .responses > .comment-area form > #fileInput{
    display: none;
}
main section.feed > .text-area form > #customButton,
main section.feed > .social-feed > .scroll-feed > .post > .post_info > .responses > .comment-area form > #customButton{
    position: absolute;
    margin-top: -105px;
    margin-left: 465px;
    width: 30px;
    padding: 2px;
    border: 0px;
    border-radius: 4px;
}

main section.feed > .text-area form > #fileList{
    padding: 0;
    font-size: 11px;
    border: none;
    display: flex;
    
}

main section.feed > .text-area form > #fileList > div{
    padding-right: 10px;
}

main section.feed > .text-area form > #customButton:hover,
main section.feed > .social-feed > .scroll-feed > .post > .post_info > .responses > .comment-area form > #customButton:hover{
    border: 1px solid black;
}
/* ------------------------------------------------------------------------------ */

main section.feed > .social-feed{
    width: 100%;
    margin-top: 15px;
    min-height: 295px;
    padding: 15px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    box-shadow: rgba(17, 17, 17, 0.3) 0px 2px 4px 0px;
    background-color: var(--regwindow-back-color);
}

main section.feed > .social-feed > h2{
    margin-bottom: 10px;
}


main section.feed > .social-feed > .scroll-feed {
    margin-top: 40px;
    height: 600px;
    overflow: auto;
}

main section.feed > .social-feed > .scroll-feed > .post{
    margin: 20px 0px;
    display: flex;
}

main section.feed > .social-feed > .scroll-feed > .post > img{
    width: 60px;
    height: 60px;
    margin-right: 15px;
}

main section.feed > .social-feed > .scroll-feed > .post > .post_info{
    width: 100%;
}

main section.feed > .social-feed > .scroll-feed > .post > .post_info > .top > a,
main section.feed > .social-feed > .scroll-feed > .post > .post_info > .responses > .sub-comments > .content > .right > .top > a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    margin-right: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
main section.feed > .social-feed > .scroll-feed > .post > .post_info > .responses > .sub-comments > .content > .right > .top > a.last{
    text-decoration: underline;
    font-size: 15px;
    font-weight: 400;
    margin: 0px 5px 0px 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main section.feed > .social-feed > .scroll-feed > .post > .post_info > .content,
main section.feed > .social-feed > .scroll-feed > .post > .post_info > .responses > .sub-comments > .content > .right > p{
    margin: 5px 0px;
    width:  100%;
    font-size: 15px;
}
main section.feed > .social-feed > .scroll-feed > .post > .post_info > .responses > .sub-comments > .content > .right > p{
    margin: 5px 0px;
    width:  100%;
    font-size: 15px;
}

main section.feed > .social-feed > .scroll-feed > .post > .post_info > .top > span,
main section.feed > .social-feed > .scroll-feed > .post > .post_info > .responses > .sub-comments > .content > .right > .top  > span{
    font-size: 12px;
}

main section.feed > .social-feed > .scroll-feed > .post > .post_info > .content > .files{
    display: flex;
    flex-wrap: wrap;
    margin-top: 35px;
    width: 100%;
    align-items: center;
}

main section.feed > .social-feed > .scroll-feed > .post > .post_info > .content > .files > img{
    padding-right: 10px;
    width: 360px;
    height: 290px;
    margin: 10px;
}


main section.feed > .social-feed > .scroll-feed > .post > .post_info > .options {

    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    height: 30px;
}

main section.feed > .social-feed > .scroll-feed > .post > .post_info > .options > a{
    text-decoration: none;
    font-size: 16px;
    margin-right: 20px;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


main section.feed > .social-feed > .scroll-feed > .post > .post_info > .options > button.last{
    border: 0px;
    cursor: pointer;
    margin-right: 5px;
    height: 10px;
}

main section.feed > .social-feed > .scroll-feed > .post > .post_info > .responses {
    margin: 19px 0px 11px 0px;
}

main section.feed > .social-feed > .scroll-feed > .post > .post_info > .responses > .sub-comments > .content{
    display: flex;
    margin-bottom: 10px;
}

main section.feed > .social-feed > .scroll-feed > .post > .post_info > .responses > .sub-comments > .content > .right{
    width: 100%;
}

main section.feed > .social-feed > .scroll-feed > .post > .post_info > .responses > .sub-comments > .content > img{
    width: 45px;
    height: 30px;
    padding-right: 10px;
}

main section.feed > .social-feed > .scroll-feed > .post > .post_info > .responses > .sub-comments{
    padding-left: 15px;
    display: flex;
    flex-direction: column;
}

main section.feed > .social-feed > .scroll-feed > .post > .post_info > .responses > .comment-area{
    margin-top: 10px;
    display: none;
}

main section.feed > .social-feed > .scroll-feed > .post > .post_info > .responses > .comment-area form{
    margin-bottom: 7px;
}

main section.feed > .social-feed > .scroll-feed > .no-scraps{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    height: 100%;
}

main section.feed > .social-feed > .scroll-feed > .no-scraps > p{
    width: 450px;
    color: var(--small-span-color);
}
/* -------------------------------------------------------------------------- */

main section.right-side{
    display: flex;
    flex-direction: column;
}

main section.right-side > .friends{
    width: 100%;
    min-height: 220px;
    max-height: 420px;
    padding: 15px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    box-shadow: rgba(17, 17, 17, 0.3) 0px 2px 4px 0px;
    background-color: var(--regwindow-back-color);
}
main section.right-side > .community{
    width: 100%;
    min-height: 220px;
    max-height: 420px;
    margin-top: 15px;
    padding: 15px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    box-shadow: rgba(17, 17, 17, 0.3) 0px 2px 4px 0px;
    background-color: var(--regwindow-back-color);
}

main section.right-side > .friends > h3,
main section.right-side > .comunnity > h3{
    margin-bottom: 10px;
}

main section.right-side > .friends > .no-friends,
main section.right-side > .community > .no-community{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    height: calc(100% - 60px);
}
main section.right-side > .friends > .no-friends > p,
main section.right-side > .community > .no-community > p{
    text-align: center;
    color: var(--small-span-color);
}

/* ----------------------- toggles ---------------------------------*/
main section.feed > .social-feed > .scroll-feed > .post > .post_info > .responses > .comment-area.show-textarea{
    display: block;
}

main .search-window{
    display: none;
    flex-direction: column;
    position: absolute;
    top: 50px;
    right: 65px;
    width: 280px;
    min-height: 100px;
    max-height: 400px;
    padding: 10px 20px;
    overflow-y: auto;
    box-shadow: rgba(49, 49, 49, 0.664) 0px 3px 7px 2px;
    background-color: rgba(255, 255, 255, 0.95);
}

main .search-window > .results{
    display: flex;
    flex-direction: column;
    width: 100%;
}

main .search-window > .results > a{
    text-decoration: none;
    height: 52px;
    margin: 10px 0px;
    color: black;
    background-color: rgb(255, 255, 255);
    transition: 0.1s ease-in;
}

main .search-user > .search-window > .results > a:hover{
    background-color: rgb(235, 235, 235);
    transition: 0.1s ease-in;
}

header nav > .right > .search-user > .search-window > .results > a > .content{
    display: flex;
    align-items: center;
}

header nav > .right > .search-user > .search-window > .results > a > .content > img{
    width: 50px;
    height: 52px;
    margin-right: 15px;
}

header nav > .right > .search-user > .search-window.show{
    display: flex;
}